body{
    background-color: whitesmoke ;
    background-image: url(../icon/icon.png); 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}
.qPanel{
    margin:auto;
    width:900px;
    vertical-align: center;
    margin:0 auto;
    background-color: orangered ;
    border: orangered ;
    border-radius : 10px ;
    padding: 20px ;
    height: 200px ;
    font-size: 15pt;
}
.ques{
    font-size : 18pt;
    font-weight: bold ;
}
.nxtBtn{
    position: relative ;
    right : 10px ;
    float: right;
    border:none ;
    font-size: 18pt ;
    background-color: black  ;
    color: #ffffff ;
    width: 80px ;
    height: 35px ;
}
